<tr>
  <td class="text-center text-gray-600 text-xs p-32">
    <p class="m-0 mb-24 text-base">&copy; 2017 Company, Inc. All Rights Reserved.</p>
    <p class="m-0 text-base leading-24">The member website is owned and operated by Company Inc., a vendor of Unitedhealthcare, that provides digital health and personal clinical engagement tools and services.</p>
  </td>
</tr>